body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container {
  margin: auto;
  display: block;
  text-align: center;
  padding: 2rem; 
}
.container > div {
  padding: 0 125px;
}
.btn  {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(25, 15, 15, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-left: 12px;
}
.nav .nav-avatar i {
  display: flex;
  align-items: center;
}
.nav .nav-avatar img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  display:flex ;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}


.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.show-bnt {
  border: rgb(154, 154, 187);
  background:rgb(108, 112, 115);
  margin: 0;
  padding: 0;
  color: #9f2828;
  cursor: pointer;
}
.dashboard-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1cm;
  gap: 0;
  }
  
.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  position: absolute;
  top: 20%;
  left: 5%;
  
}
.table_center {
  margin-left: auto;
  margin-right: auto;

}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color-interpolation-filters: linearRGB;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkslategray;
  color: white;
}

input[type=text], input[type=password] {
 margin: auto;
font-size: 14px;
border-radius: 6px;
line-height: 1.5;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #dee1e2;
color: rgb(14, 14, 16);
background: #dee1e2;
display: block;
height: 36px;
}

input[type=text] , input[type=password] :hover {
    border-color: #ccc;
}
input[type=text] , input[type=password] :focus{
    border-color: #9147ff;
    background: #fff;
}


.progress-bar {
  width: 50%;
  background-color: #eee;
  margin: 0 auto;
}

.progress-bar-completed {
  height: 30px;
  background-color: rgb(137, 202, 137);
  transition: width 0.5s ease-in-out;
}
.progress-bar-completed1 {
  height: 30px;
  background-color: rgb(214, 138, 138);
  transition: width 0.5s ease-in-out;
}

.progress-bar-completed {
  transition: width 1s ease-in-out;
}


.logout-btn {
  position: absolute;
  top: 10px;         
  right: 800px;       
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 1000;     
}

.logout-btn:hover {
  background-color: #2f4ad3;
}

.logout-btn:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(74, 218, 26, 0.5);
}


.existUser-btn {
  position: absolute;
  top: 33%;
  right:650px;   
  padding: 8px 16px; 
  font-size: 16px;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);


}
.togle-btn {
  position: absolute;
  top: 25%;
  right: 600px;  
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);

}
.togle-btn:hover {
  background-color: #d37e2f;
}